
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image:  linear-gradient(rgba(245, 243, 243, 0.4),rgba(71, 51, 51, 0.9)),url('background.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ootd a{
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 40px;
    color : rgb(54, 35, 35);
    text-decoration: none;
    font-family: 'Aguafina Script';
}
.heading{
    position: absolute;
    top: 90px;
    left: 125px;
    font-style: italic;
    font-size: 40px;
    color : rgb(56, 19, 19);
    font-family: JejuMyeongjo;
}
.rectangle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 100px;
    background-color: #d0bcbe;
    width: 266px;
    height: 316px;
}
.rectangle-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 450px;
    background-color: #d0bcbe;
    width: 266px;
    height: 316px;
}
.rectangle-div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 800px;
    background-color: #d0bcbe;
    width: 266px;
    height: 316px;
}
.rectangle-div4 {
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1150px;
    background-color: #d0bcbe;
    width: 266px;
    height: 316px;
}
.data1{
    position: absolute;
    font-size: 20px;
    font-family:JejuMyeongjo;
    color:grey
}
.data2{
    position: absolute;
    font-size: 20px;
    font-family:JejuMyeongjo;
    color:grey
}
.data3{
    position: absolute;
    font-size: 20px;
    font-family:JejuMyeongjo;
    color:grey
}
.data4{
    position: absolute;
    font-size: 20px;
    font-family:JejuMyeongjo;
    color:grey
}